/* Style généraux en CSS pour les templates*/
body{
    background-color: #35c9dd;
}
.center-bloc{
    float:none;
    margin:0 auto;
}
.col-sm-8{
    float: none;
    margin:0 auto;
}

.navbar{
    background-color: #02afc5;
    color:white;
}
.navbar-brand,.nav-item.nav-link{
    color:white;
}


#collapseHowTo{
    margin-top:30px;
}

#start_page{
    margin: 0 auto;
}
#bubble_story{
    background-color:#a9f3fd;
    border-radius: 10px;
    opacity:0.8;
}

#main_page{
    margin-top: 20px;
    margin-bottom:30px;
    position: relative;
    margin-bottom: 30px;
    overflow: scroll;
    

}
/* #main_content{
    
} */
#chat_input{
    margin-left:2%;
    min-height:50px;
    background-color:#02afc5;
    border:white 3px solid;
}
ul li{
    list-style-type: none;
    display: flex;
}
#chat_list{
    bottom:0px;
    width:100%;

}
.me{
    margin-top:20px;
    background-color:rgba(135,209,219,0.7);
    border-radius: 20px;
}
.bot{
    margin-top:20px;
    background-color:rgba(135,209,219,1);
    border-radius: 20px;
}
.you-chat{
    color:white;
    font-size:22px;
}
.question{
    font-size:20px;
    margin-top:10px;
    border-left: #02afc5 2px solid;
}
.avatar_me_img{
    height:100px;
}

.avatar_bot_img{
    height:150px;
}

.bot{
    margin-top:30px;
    margin-bottom: 20px;
}

#img_home{
    height:30em;
    display: block;
    margin-left:auto;
    margin-right: auto;
}
#homepage h2{
    text-align: center;
}
.text-input{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
    font-size:20px;
}

