/*---------------------------------------------------------*/
/*                       GENERAL RULES                     */
/*---------------------------------------------------------*/

body{
    background-color: #35c9dd;
}

.center-bloc{
    float:none;
    margin:0 auto;
}

.col-sm-8{
    float: none;
    margin:0 auto;
}

/*---------------------------------------------------------*/
/*                          NAVBAR                         */
/*---------------------------------------------------------*/

.navbar{
    background-color: #02afc5;
    color:white;
}

.navbar-brand,.nav-item.nav-link{
    color:white;
}
.img-brand{
    height:50px;
}

/*---------------------------------------------------------*/
/*                CHAT CONTAINER AND INPUT                 */
/*---------------------------------------------------------*/

#main_page{
    margin-top: 20px;
    margin-bottom:30px;
    position: relative;
    margin-bottom: 30px;
    overflow: scroll;
    border: 5px double #2C53A4;
    border-radius: 0px 27px 0px 0px;
}

#chat_input{
    margin-left:2%;
    min-height:50px;
    background-color:#02afc5;
    border:white 3px solid;
}
#chat_input:focus{
    background-color:white;
    border: solid 3px #02afc5;
}

/*---------------------------------------------------------*/
/*                       HOMEPAGE                          */
/*---------------------------------------------------------*/

#img_home{
    height:30em;
    display: block;
    margin-left:auto;
    margin-right: auto;
}
#homepage h2{
    text-align: center;
}

/*---------------------------------------------------------*/
/*                       MESSAGES                          */
/*---------------------------------------------------------*/

ul li{
    list-style-type: none;
    display: flex;
}
#chat-list{
    bottom:0px;
    width:100%;
}

.me{
    margin-top:20px;
    background-color:rgba(135,209,219,1);
    border: 3px dotted black;
    border-radius: 17px;
}
.you-chat{
    color:white;
    font-size:22px;
}
.avatar_me_img{
    height:100px;
}
.your-text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
    font-size:20px;
}
.bot{
    margin-top:20px;
    background-color:rgba(135,209,219,1);
    border: 3px dotted black;
    border-radius: 17px;
    margin-top:30px;
    margin-bottom: 20px;
}
.avatar_bot_img{
    height:150px;
}

.quote{
    color:red;
    font-style: italic;
    font-size: 25px;
}

/*---------------------------------------------------------*/
/*                       LOADER                            */
/*---------------------------------------------------------*/

#loader{
    background-color: #2C53A4;
    text-align: center;
}