<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/style.css">


  <title>GrandPyBOT</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">GrandPyBot</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">GrandPyBot<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">Mon Github</a>
          <a class="nav-item nav-link" href='#'>Rafraîchir la page</a>
        </div>
      </div>
    </nav>
  </header>

  <main>
          <div class="col-lg-12">
            <div class="row">
                {{testgmap|safe}}
                {{teststory|safe}}
            </div>
            <div class="row">
                <form class="col-md-12" method="POST" action="/process">
                  <input class="col-md-9" id="user_data" type="text" name="text">
                  <button class=" btn btn-success col-md-2" type="submit" href="#" id="sendsend">Demander</button>
                </form>
            </div>
          </div>
            
          <!-- Footer -->
          <footer class="page-footer font-small blue pt-4 col-md-12">
            <div class="footer-copyright text-center py-3">© Pour OpenClassrooms et
              <a href="#"> réalisé par Martin Gaucher</a>
            <!-- Copyright -->

          </footer>
          <!-- Footer -->
        </div>
      </div>
    </div>
  </main>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src='../static/test.js'></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZdlKsgtk9a7hzcZDZa_ghQ88dF5wl0lA&callback=initMap"
  type="text/javascript"></script>
</body>

</html>