<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/style.css">


  <title>RickPyBOT</title>
</head>


<body>
  <header>
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">RickPyBot</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">RickPyBot<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="https://github.com/subteno-it-mga/Projet7-GrandPyBot" target="_blank">Mon Github</a>
          <a class="nav-item nav-link" id="refresh" href='#'>Rafraîchir la page</a>
        </div>
      </div>
    </nav>
  </header>

  <main>
		</div>
          <div class="container" id="main_page">
            <!-- <div class="row">
              <div class="col-md-4"><img id="start_page" src="../static/rickpybot_img.png" class="img-fluid"/><h1 style="text-align: center">RICKPYBOT</h1></div>
              <div id="bubble_story" class="col-md-2">{{teststory|safe}}</div>
              <div class="col-md-6">{{testgmap|safe}}</div>
            </div> -->
          </div>
            <div class="container fixed-bottom">
                <form class="col-md-12" method="POST" action="/process" id="sendsend">
                  <span id="fun">Schiffty</span><input id="chat_input" placeholder="Entrez une adresse" class="col-md-9" id="user_data" type="text" name="text">
                  <button class=" btn btn-success col-md-2" type="submit" href="#">Demander</button>
                </form>
            </div>
            
          <!-- Footer -->
          <!-- <div class="row fixed-bottom-footer">
            <footer class="page-footer font-small blue pt-4 col-md-12">
              <div class="footer-copyright text-center py-3">© Pour OpenClassrooms et
                <a href="#"> réalisé par Martin Gaucher</a>
            </footer>
          </div> -->
          <!-- Footer -->
        </div>
      </div>
    </div>
  </main>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script>
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src='../static/custom.js'></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZdlKsgtk9a7hzcZDZa_ghQ88dF5wl0lA&callback=initMap"
  type="text/javascript"></script>
</body>

</html>